{% extends 'base.html.twig' %}

{% block title %}Alert index{% endblock %}

{% block body %}
    <h1>Alert index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Severity</th>
                <th>Timestamp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alert in alerts %}
            <tr>
                <td>{{ alert.id }}</td>
                <td>{{ alert.message }}</td>
                <td>{{ alert.severity }}</td>
                <td>{{ alert.timestamp ? alert.timestamp|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_alert_show', {'id': alert.id}) }}">show</a>
                    <a href="{{ path('app_alert_edit', {'id': alert.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_alert_new') }}">Create new</a>
{% endblock %}
